addict==2.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.5
aiosignal==1.3.1
aliyun-python-sdk-core==2.15.0
aliyun-python-sdk-kms==2.16.2
async-timeout==4.0.3
attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
coloredlogs==15.0.1
crcmod==1.7
cryptography==42.0.5
datasets==2.18.0
dill==0.3.8
einops==0.7.0
exceptiongroup==1.2.0
filelock==3.13.1
flatbuffers==24.3.7
frozenlist==1.4.1
fsspec==2024.2.0
gast==0.5.4
huggingface-hub==0.21.4
humanfriendly==10.0
idna==3.6
importlib_metadata==7.0.2
iniconfig==2.0.0
Jinja2==3.1.3
jmespath==0.10.0
MarkupSafe==2.1.5
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
networkx==3.2.1
numpy==1.26.4
onnx==1.15.0
onnxruntime==1.16.3
opencv-python==4.9.0.80
oss2==2.18.4
packaging==23.2
pandas==2.2.1
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
protobuf==4.25.3
pyarrow==15.0.1
pyarrow-hotfix==0.6
pyclipper==1.3.0.post5
pycparser==2.21
pycryptodome==3.20.0
pytest==8.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
scipy==1.12.0
shapely==2.0.3
simplejson==3.19.2
six==1.16.0
sortedcontainers==2.4.0
sympy==1.12
tomli==2.0.1
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.4
zipp==3.17.0
